/*colores*/
:root {
  --main-light: #E7E7DE;
  --main-brown: #0F3057;
  --main-blue: #00587a;
  --main-gray: #008891;
  --dark-gray: #757575;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

/*barra de navegación*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--main-blue);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 20px;
  }

  *::-webkit-scrollbar-track {
    background: #f5f5f5;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--main-blue);
    border-radius: 15px;
    border: 2px solid var(--main-gray);
  }

.navbar{
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1;
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-blue);
  }
  
.navbar li {
    float: left;
  }
  
.navbar li a {
    display: block;
    color: var(--main-light);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: medium;
  }
  
.navbar li a:hover {
    background-color: var(--main-gray);
  }

  /* Contenido principal */
.main {
  margin-top: 70px; 
}
  
  /*Media query agrega break point en 800px: */
  @media screen and (max-width: 800px) {
    .ul {
      width: 100%; /*El width es 100%, cuando el viewport es 800px o menos*/
    }
  }

.cartas {
    background-color: white;
    color: var(--dark-gray);
  }

/*links*/
.mail a:link {
  color: var(--dark-gray);
  background-color: transparent;
  text-decoration: none;
}

.links a:visited {
  color: var(--main-brown);
  background-color: transparent;
  text-decoration: none;
}

.links a:hover {
  color: var(--main-gray);
  background-color: transparent;
  text-decoration: none;
}

.links a:active {
  color: var(--main-gray);
  background-color: transparent;
  text-decoration: none;
}

/*sombra nombre*/
#nombre {
  color:var(--main-light);
  text-shadow: 1px  0px 0px var(--main-blue),
               0px  1px 0px var(--main-blue),
               -1px  0px 0px var(--main-blue),
               0px -1px 0px var(--main-blue);
}

/*íconos*/
.icon-s {
  color: var(--main-blue);
  font-size: large;
 
}

.icon-b {
  color: var(--main-blue);
  font-size: xx-large;
}

/*Barras idiomas*/
#barraa {
  height:24px;
  width:100%;
  background-color: var(--main-blue);
}

#barrab {
  height:24px;
  width:90%;
  background-color: var(--main-blue);
}

#barrac {
  height:24px;
  width:25%;
  background-color: var(--main-blue);
}

/*fechas*/
.exp {
  color:var(--main-blue);
}

/*footer*/
footer {
  background-color: var(--main-blue);
  color:var(--main-light);
  font-size: large;
  margin-top: 16px;
}

footer a:link {
  color: var(--main-light);
  background-color: transparent;
  text-decoration: none;
}

script{
  float: right;
}
